{% extends 'base.html' %}
{% block content %}

{% if ticker %}
	{{ ticker }}
{% endif %}

{% if api %}
	{% if api == "Error..." %}
		There was a problem with your ticker symbol, please try again...
	{% else %}

		<h1>{{ api.Symbol }}</h1><br/>
		Price: ${{ api.AnalystTargetPrice }}<br/>
		Market Capital: {{ api.MarketCapitalization }}<br/>
		YTD Change: {{ api.ForwardAnnualDividendRate }}<br/>
		52Wk High: {{ api.52WeekHigh }}<br/>
		52 Wk Low: {{ api.52WeekLow }}<br/>

	{% endif %}

{% endif %}

{% endblock %}